@import "tailwindcss";

:root {
  --background: #EDFFDD;
  --foreground: #0E3B3B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Montserrat, Arial, sans-serif;
}
